html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;

    background-color: #D72518;
    background-image: url("https://img.freepik.com/foto-gratis/disposicion-elementos-cine-sobre-fondo-rojo-espacio-copia_23-2148457847.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.contenedor{
    margin: auto;

    width: 70%;
    height: 50%;
}

form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

button{
    text-decoration: none;
    border: none;
    text-align: center;
    background-color: white;
}

#main-container{
    height: 90%;
    background-color: white;
}

.card{
    margin: auto;
}

.img-cines{
    width: 100%; !important;
    height: 280px; !important;
}

.title{
    text-align: center;
    grid-column: 1 / span 3;
    grid-row: 1;
}

#titan{
    grid-column: 1;
    grid-row: 1;
}

#unicentro{
    grid-column: 2;
    grid-row: 1;
}

#plaza-central{
    grid-column: 3;
    grid-row: 1;
}

#gran-estacion {
    grid-column: 1;
    grid-row: 2;
}

#embajador{
    grid-column: 2;
    grid-row: 2;
}

#las-americas{
    grid-column: 3;
    grid-row: 2;
}

a{
    text-decoration: none;
}
.img-peliculas{
    height: 400px;
    width: 280px;
}

